#main__about{
    background-color: map-get($colores, color-rosa);
    color: map-get($colores, color-texto-dark);
    padding: 10px 20px 40px;
    border-top: 3px solid map-get($colores, color-fondo);
    text-align: center;
    h1{
        padding: 20px 0;
        @extend %maqueta_about;
    }
    h2{
        margin-top: 25px;
    }
    .about__section{
        @extend %maqueta_about;
        .about__text{
            color: map-get($colores, color-texto-dark);
            padding: 15px;
            text-align: justify;
            h3{
                border-bottom: 2px solid map-get($colores, color-rosa);
                padding-bottom: 15px;
                margin-bottom: 40px;
                text-align: center;
            }
            p{
                span{
                    color: map-get($colores, color-rosa);
                }
                a{
                    text-decoration: none;
                    color: map-get($colores, color-rosa);
                    &:hover{
                        color: map-get($colores, color-secundario)
                    }
                }
            }
        }
        .about__img__container{
           padding:20px;
           margin: auto;
           border-radius: 15px;
           img{
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
           } 
        }
    }
}