$colores:(
    color-fondo: #0c0909,
    color-fondo-light: #fff,
    color-principal: #87ceeb,
    color-secundario: #6a5acd,
    color-rosa: #ffc0cb,
    color-texto-light: #fff,
    color-texto-dark: #000
);